@font-face {
  font-family: "Helvetica Light";
  src: url("assets/helvetica-light.woff") format("woff");
  font-weight: 300; /* Light weight */
  font-style: normal;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden; /* Prevent default scrolling */
  font-family: "Helvetica Light", Arial, sans-serif;
  font-weight: 300;
  -webkit-text-size-adjust: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  overflow: hidden; /* Use JavaScript for controlled navigation */
}

.horizontal-container {
  position: absolute;
  width: 100%;
  height: 100vh; /* Full viewport height */
  background-size: cover;
  background-position: center;
  display: none; /* Initially hidden */
}

.hero {
  position: absolute;
  width: 100%;
  height: 100vh; /* Full viewport height */
  background-size: cover;
  background-position: center;
  display: none; /* Initially hidden */
}

/* Show the first section by default */
.hero[data-horizontal="0"] {
  display: block;
}

/* Arrows */
.arrow {
  position: absolute;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  z-index: 10;
  opacity: 0.8;
  transition: opacity 0.3s;
}

.arrow:hover {
  opacity: 1;
}

.arrow.up {
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.arrow.down {
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.arrow.left {
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}

.arrow.right {
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

/* Label */
.label {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Semi-transparent background for readability */
  padding: 5px 10px;
}

/* Right Menu Button */
.menu-button {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 100;
}

.menu-button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Vertical Menu */
.vertical-menu {
  position: fixed;
  top: 0;
  right: -20%; /* Hidden by default */
  width: 20%;
  height: 100%;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  z-index: 99;
  transition: right 0.3s ease-in-out;
  overflow-y: auto;
}

.vertical-menu.open {
  right: 0; /* Show the menu */
}

.menu-item {
  width: 100%;
  padding: 20px;
  text-align: center;
}

.menu-item img {
  width: 100%;
  height: auto;
  max-height: 250px;
  object-fit: cover;
  margin-bottom: 10px;
}

.menu-item p {
  font-family: "Helvetica Light", Arial, sans-serif;
  font-weight: 100;
  font-size: 1rem;
  margin: 0;
}

/* Left Menu Button */
.left-menu-button {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 100;
}

.left-menu-button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Left Vertical Menu */
.left-vertical-menu {
  position: fixed;
  top: 0;
  left: -20%; /* Hidden by default */
  width: 20%;
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  z-index: 99;
  transition: left 0.3s ease-in-out;
  overflow-y: auto;
}

.left-vertical-menu.open {
  left: 0; /* Show the menu */
}

.left-menu-item {
  width: 100%;
  padding: 10px;
  text-align: center;
}

.left-menu-item img {
  width: 100%;
  height: auto;
  max-height: 100px;
  object-fit: cover;
  cursor: pointer;
  margin-bottom: 10px;
}

/* Media query for smaller screens */
@media (max-width: 650px) {
  .vertical-menu {
    width: 100%; /* Full width */
    right: -100%; /* Hidden by default */
  }

  .vertical-menu.open {
    right: 0; /* Show the menu */
  }

  .left-vertical-menu {
    display: none;
  }

  .left-menu-button {
    display: none;
  }
}
